certifi==2024.12.14
googleapis-common-protos==1.66.0
grpcio==1.68.1
lz4==4.3.3
pinecone==5.4.2
pinecone-plugin-inference==3.1.0
pinecone-plugin-interface==0.0.7
protobuf==4.25.5
protoc-gen-openapiv2==0.0.1
python-dateutil==2.9.0.post0
six==1.17.0
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.2.3
